.profile{
    display: flex;
    flex-direction: column;
    background: var(--cards);
    width: 16rem;
    height: 18.375rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 4.5rem;
    object-fit:cover;
}



@media (max-width: 768px){
    .profile{
        margin: 0 auto;
        width: 100%;
    } 
}

