.user{
    width: 3.75rem;
    height: 3.75rem;
    background: var(--background);
    margin: 0 auto;
    margin-top: calc(-4.5rem / 2);
    margin-bottom: 1rem;
}

.user img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}