*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body, button, input, textarea{
    font-family: 'Roboto', sans-serif;
    line-height: 160%;
    background-color: var(--background);
    color: var(--text);
    font-weight: 400;
    font-size: 1rem;
    -webkit-font-smoothing: antialised;
}

:root{
    --green: #00875F;
    --green-light: #00B37E;
    --background: #121214;
    --cards: #202024;
    --divider: #323238;
    --placeholder: #7C7C8A
    --text-apoio: #8D8D99;
    --text: #C4C4CC;
    --text-titles: #E1E1E6;
    --white: #FFF;  
    --comment-bg: #29292E;


    --red-500: #F75A68;
}

button{
    cursor: pointer;
    
}

:focus{
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green);
}   